.introContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 9999;
}

.introContainer div {
  align-self: center;
}

.introContainer video {
  object-fit: cover;
}

.videoBackground video {
  position: fixed;
  top:0; left:0;
  object-fit: fill;
}

.everythingElse {
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  font-family: monospace;
}

.everythingElse nav {
  display: flex;
  align-self: flex-end;
  padding: 10px 5%;
}

.everythingElse nav h1 {
  font-size: 2em;
}

.everythingElse nav ul {
  list-style-type: none;
  vertical-align: bottom;
}

.everythingElse nav ul li a {
  text-decoration: underline;
}

.aboutContainer {
  font-family: monospace;
}