.introContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 9999;
}

.introContainer div {
  align-self: center;
}

.introContainer video {
  object-fit: cover;
}

.videoBackground {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoBackground video {
  position: fixed;
  top:0; left:0;
  object-fit: fill;
}

.page {
  display: flex;
  z-index: 99;
  width: 560px;
  position: absolute;
  top: 80%;
}

.page ul {
  list-style-type: none;
  vertical-align: bottom;
}

.page iframe {
  margin-top: 50px;
}

.everythingElse {
  z-index: 95;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  font-family: monospace;
}

.everythingElse nav {
  width: 100%;
  display: flex;
  align-self: flex-end;
  padding: 0px 5%;

  color: white;
  background-color: #576eee;
}

.everythingElse nav h1 {
  font-size: 2em;
}

.everythingElse nav ul {
  margin: 8px;
  list-style-type: none;
  vertical-align: bottom;
}

.everythingElse nav ul li a {
  text-decoration: underline;
}

.aboutContainer {
  font-family: monospace;
}